<template>
    <form v-bind:class="css" action="action" method="post">
        <input v-if="token" type="hidden" name="_token" v-bind:value="token"/>
        <slot></slot>
    </form>
</template>

<script>
  export default {
    props: ['css', 'action', 'token', 'coins']
  };
</script>